<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="~/assets/yinyang.ico" type="image/x-icon">
    <link rel="icon" href="~/assets/yinyang.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="og:site_name" content="Hello! Project Sorter">
    <meta name="og:description" content="A simple website for sorting H!P idols in a formatted list.">
    <meta name="og:image" content="https://i.imgur.com/IZzJMk6.jpg">
    <title>Idol Sorter</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <link href="~/css/styles3.css" rel="stylesheet" type="text/css">
    <style>
        .character-list img {
            max-width: 150px;
            border: 2px solid #ffffff;
            border-radius: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center box" style="padding-top: 40px;">
                <h1>Idol Sorter</h1>
                <p>Select a group to see group members:</p>
            </div>
        </div>

        <div class="row" style="justify-content: center;">
            <div class="col-8 box" style="justify-content: center;">
                <div id="groupOptions" class="carousel-container">
                    <button class="carousel-button left" id="carouselLeft">&#9664;</button>
                    <div class="carousel-wrapper">
                        <div class="carousel-content"></div>
                    </div>
                    <button class="carousel-button right" id="carouselRight">&#9654;</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center box">

                <div id="characterList">
                    <div class="result-grid-row" id="characterRow">
                        <!-- Characters will be displayed here -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/js/data.js"></script>
    <script src="~/js/data/2021-05-09.js"></script>
    <script src="~/js/showImage.js"></script>
</body>

</html>
