@{
    ViewData["Title"] = "Page Not Found";
}

<!DOCTYPE html>

<html>

<head>
    <link rel="shortcut icon" href="~/assets/yinyang.ico" type="image/x-icon">
    <link rel="icon" href="~/assets/yinyang.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="og:site_name" content="Hello! Project Sorter">
    <meta name="og:description" content="A simple website for sorting H!P idols in a formatted list.">
    <meta name="og:image" content="https://i.imgur.com/IZzJMk6.jpg">
    <title>404 - Page Not Found</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <link href="~/css/styles2.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding-top: 40px;">
                <h1 class="display-1">404</h1>
                <h2>Oops! Page not found</h2>
                <p>Sorry, but the page you were looking for doesn't exist.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" style="padding-top:20px;">
                <div>
                    <img src="~/assets/icons/MakinoSad.jpg" style="align-content:center;align-items:center;max-width:500px;max-height:500px;border: 2px solid #ffffff;border-radius: 10px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" style="padding-top: 20px;">
                <div>
                    <a href="~/" class="button">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
